<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='main.css')}}">
    <title>Student Helper</title>
</head>
<body>
    <div class="container">
        <aside class="left-section">
            <h1>Помощник студента</h1>
            <div class="sidebar">
                <a id="active" href="#">Главная</a>
                <a href="#">Мои задачи</a>
                <a href="#">Выполненные задачи</a>
                <a href="#">Статистика</a>
            </div>
        </aside>

        <main>
            <header>Привет, страдалец!</header>
        </main>


    </div>

    <script src="script.js"></script>
</body>
</html>