<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <title>Мои задачи</title>
</head>
<body class="page-mytasks">
    <div class="container">
        <aside class="left-section">
            <h1>Помощник студента</h1>
            <div class="sidebar">
                <a href="{{ url_for('main')}}">Главная</a>
                <a id="active" href="{{ url_for('mytasks')}}">Мои задачи</a>
                <a href="{{ url_for('finished')}}">Выполненные задачи</a>
                <a href="{{ url_for('statistics')}}">Статистика</a>
                <a id="exit" href="{{ url_for('logout')}}">Выйти</a>
            </div>
        </aside>

        <main>
            <h2>Невыполненные задачи</h2>
            <div id="tasksList">
                <p>Загрузка задач...</p>
            </div>
        </main>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>